/* fonts for title
font-family: 'Kanit', sans-serif;
content
font-family: 'Noto Sans KR', sans-serif; */
*,*{
    padding: 0%;
    margin: 0%;
}
body{
    background-color: #3D4F78;
   /* height: 1500rem; */
}
.navbar {
    background-color: #353338;
   
}
.principal{
    padding: 0%;
    margin: 0%;
}


h1{
    font-family: 'Kanit', sans-serif;
}

.myflag{
    opacity: 50%;
}
.myflag:hover{
    opacity: 1000%;

}

.jumbotron {
    padding-top: 0%;
    padding-bottom: 0%;
    margin-bottom: 0%;
    background-color: transparent; 
    color: #B9B3C4; 
    font-family: 'Noto Sans KR', sans-serif;
}
/*  if the screen is not mobile then the list is displayed on a grid  */
@media screen and (min-width:700px) {
    ul {
        display: grid;
        grid-template-columns: repeat(5,auto);
        gap: 10px;
        }
 }
 ul{
     gap: 30px;
     margin-bottom: 0%;
     margin-top: 0%;
     /* font-size: smaller; */
 }


 .carousel{
    margin-top: 60px;
     height: 5%;
     background-color:transparent;
 }
.d-block{
  margin-left: auto;
  margin-right: auto;
}
.wrapper{
    background-color: #3D4F78;
    width: 6rem;
  }
  
.hide {
        display: none;
    }
i, .pf-container{
    color: #B9B3C4; 
}

.row-space{
    margin-bottom: 10px;
}
.card {
    background-color: transparent;
    margin-top: 20px;
}
h3 {
    font-size: 16px;
}
